<!DOCTYPE html>
<html>
<head>
    <title>Genealogy Map</title>
    <h3>Newton Genealogy and Migrations (1500-Present)</h3>
    {{ map_html|safe }}
</head>
<body>
    <div id="map" style="width: 100%; height: 80vh;"></div>
    <div>
        <!-- Button to switch datasets -->
        {% if current_dataset == "newton" %}
            <button onclick="window.location.href='/stevens'">Stevens Data)</button>
        {% else %}
            <button onclick="window.location.href='/newton'">Newton Data</button>
        {% endif %}
    </div>
</body>
</html>

